#agreement-page {
  flex: 1;
  position: relative;
}

#agreement-page .guide-message {
  margin: 2rem 0;
}
#agreement-page .guide-message h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

#agreement-page form {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#agreement-page .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#agreement-page .input-wrapper label.rule-area,
#agreement-page label.rule-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
}
#agreement-page .input-wrapper label.rule-area:hover,
#agreement-page label.rule-area:hover {
  opacity: 0.75;
}
#agreement-page .input-wrapper label.rule-area input,
#agreement-page label.rule-area input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
#agreement-page .input-wrapper label.rule-area .checkmark,
#agreement-page label.rule-area .checkmark {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #d7d7d7;
}
#agreement-page .input-wrapper label.rule-area input:checked ~ .checkmark,
#agreement-page label.rule-area input:checked ~ .checkmark {
  background-color: var(--theme-color);
}
#agreement-page .input-wrapper label.rule-area .checkmark::after,
#agreement-page label.rule-area .checkmark::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
#agreement-page .input-wrapper label.rule-area .arrowRight {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  opacity: 0.5;
}

#agreement-page .input-wrapper label.age-area {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: 1rem;
  cursor: pointer;
  height: 75px;
  box-sizing: border-box;
}
#agreement-page .input-wrapper label.age-area:hover {
  opacity: 0.75;
}

#agreement-page .input-wrapper label.age-area input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
#agreement-page .input-wrapper label.age-area .radiomark {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #d7d7d7;
  position: relative;
}
#agreement-page .input-wrapper label.age-area input:checked ~ .radiomark {
  background-color: var(--theme-color);
}
#agreement-page .input-wrapper label.age-area .radiomark::after {
  content: "";
  position: absolute;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 0.65rem;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#agreement-page .input-wrapper label.age-area .text-field p {
  margin: 0;
}
#agreement-page .input-wrapper label.age-area .text-field .additional-message {
  color: #aaa;
  font-size: 0.7rem;
  font-weight: normal;
  margin-top: 0.35rem;
}

#agreement-page .input-wrapper label.age-area .input-image {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
}
