#signup-detail-page .input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 3rem;
}

#signup-detail-page .input-wrapper label {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #888;
  font-weight: 600;
}
#signup-detail-page .input-wrapper label:not(.email-area) {
  display: none;
}

#signup-detail-page .input-wrapper label input {
  border: none;
  padding: 1rem 0;
  border-bottom: 1px solid #d7d7d7;
}

#signup-detail-page .input-wrapper label input:focus {
  border-bottom-color: #aaa;
  outline: none;
}

#signup-detail-page .input-wrapper label input::placeholder {
  color: #d7d7d7;
}

#signup-detail-page .email-check-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}
#signup-detail-page .email-check-wrapper .user-email {
  flex: 1;
}
#signup-detail-page .email-check-wrapper .validate-btn {
  border: 1px solid #d7d7d7;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.35rem;
  color: #dadada;
  cursor: pointer;
}
#signup-detail-page .email-check-wrapper .validate-btn:hover {
  border: 1px solid #888;
  color: #888;
}

#signup-detail-page .checkmark {
  position: absolute;
  display: block;
  border-left: 3px solid #d7d7d7;
  border-bottom: 3px solid #d7d7d7;
  width: 12px;
  height: 7px;
  transform: rotate(-45deg);
  right: 1px;
  bottom: calc(1rem + 5px);
}
#signup-detail-page .checkmark.checked {
  border-color: var(--theme-color);
}

#signup-detail-page .email-check-wrapper .checkmark {
  right: calc(91px + 1rem);
}

#signup-detail-page .warning-message {
  display: none;
  margin: 0;
  margin-top: 0.2rem;
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.7rem;
  font-weight: normal;
}
