:root {
  --theme-color: #28c1bc;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ededed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 400px;
  height: 800px;
  border: 1px solid #111;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 1rem 0;
}
