:root {
  --theme-color: #28c1bc;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ededed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 400px;
  height: 800px;
  border: 1px solid #111;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid #ddd;
  margin: 1rem 0;
}

#header {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.17235rem;
  font-weight: 700;
  min-height: 18px;
}
#header .img-btn {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  left: 0;
}
#header .img-btn:hover {
  opacity: 0.75;
}
#header .complete-btn {
  position: absolute;
  cursor: pointer;
  right: 0;
  color: #d7d7d7;
}

#header .complete-btn.active {
  color: var(--theme-color);
}

.button {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #d7d7d7;
  padding: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}
.button.active {
  cursor: pointer;
  background-color: var(--theme-color);
}
.button.active:hover {
  opacity: 0.75;

}
